.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}
.navCenter{
    border: 2px solid #000;
    border-radius: 50px;
    padding-top: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.navRight{
    border: 2px solid #000;
    border-radius: 50px;
    padding-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.button{
    display: flex;
    flex-direction: row;
    width: auto;
}
.button p{
    margin: 0 1em;
}
